*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

 text{
    font-family: 'Castoro Titling', cursive;
 }

:root{
    --bgColor: #de1f01;
    --textColor: white;
}

h1{
    margin-top: 5%;
}

main{
    text-align: center;
}

#back{
    background: url(images/) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: luminosity;
    background-color: black;
    
}  

#profile{
    border-radius: 50%;
    width: 19rem;
    height: 19rem;
    margin-top: -30%;
}

